#sidebar_navigation{
  height: 90vh;
  padding-top: 2rem;
}

.sidebar-sticky .nav .nav-item {
    margin-top: 1rem;    
}


.sidebar-sticky .nav .nav-item .nav-link {
    color: black;
}

.card .address-card-info {
    margin: 20px;
    padding: 20px;
}

.card{
    box-shadow: 0 6px 10px -6px black;
}

.card:hover{
    box-shadow: 0 10px 10px -6px black;
}

.sidebar-sticky ul li .nav-link {
    transition: all .2s ease-in-out;
}

.sidebar-sticky ul li .nav-link:hover{
    overflow: hidden;
    background-color: lightblue;
    transform: scale(1.1);
    
}

@keyframes hid {
    from {opacity: 1;}
    to {opacity: 0;}
}

.address-card-info {
    
    animation-name: hid;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

