

@media only screen and (min-width: 1000px) {
    #navbarSupportedContent{
        margin-right: 2rem;
    }
    
    nav .navbar-brand {
        height: 3rem;
        margin-left: 2rem;
    }

    
    #navbarSupportedContent .navbar-nav li {
        transition: all .2s ease-in-out;
    }
    #navbarSupportedContent .navbar-nav li:hover {
        transform: scale(1.1);
    }

}
  
